@model PublicSite.Models.Apartment
<div class="apartment-container">
    <div class="apartment-stars">
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
    <div class="apartment-information">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" width="250" height="250" />
        <section>
            <h3>@Model.Name</h3>
            <ul>
                <li>@Model.CityName</li>
                <li>@Model.BeachDistance</li>
                <li>@Model.RoomCount rooms</li>
                <li>@Model.MaxAdults adults</li>
                <li>@Model.MaxChildren children</li>
            </ul>
            <p>@Model.Price €</p>
        </section>
    </div>
    <div class="apartment-reservation">
        <button>
            Reservation
        </button>
    </div>
</div>
