@model PublicSite.ViewModels.ApartmentReservationViewModel

@using CaptchaMvc.HtmlHelpers;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-top: 50px">
    <h4>Reservation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.UserName, new { htmlAttributes = new { @class = "form-control", @Value = ((DataAccessLayer.Model.AspNetUser)Session["user"])?.UserName } })
            @Html.ValidationMessageFor(model => model.Reservation.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.Email, new { htmlAttributes = new { @class = "form-control", @Value = ((DataAccessLayer.Model.AspNetUser)Session["user"])?.Email, @type = "email" } })
            @Html.ValidationMessageFor(model => model.Reservation.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.UserAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.UserAddress, new { htmlAttributes = new { @class = "form-control", @Value = ((DataAccessLayer.Model.AspNetUser)Session["user"])?.Address } })
            @Html.ValidationMessageFor(model => model.Reservation.UserAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.Phone, new { htmlAttributes = new { @class = "form-control", @Value = ((DataAccessLayer.Model.AspNetUser)Session["user"])?.PhoneNumber } })
            @Html.ValidationMessageFor(model => model.Reservation.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.MaxAdults, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.MaxAdults, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservation.MaxAdults, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.MaxChildren, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.MaxChildren, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservation.MaxChildren, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.From, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.From, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Reservation.From, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.To, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservation.To, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Reservation.To, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">        
        <div class="col-md-10">
            <div>
                @Html.MathCaptcha()
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="reservationButton" value="Rezervacija" class="btn btn-default" />
            <input type="button" value="Posalji upit" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.13.1.min.js")
@Scripts.Render("~/bundles/jqueryval")

<script>    
    //Swal.fire({
    //    title: 'Error!',
    //    text: 'Do you want to continue',
    //    icon: 'error',
    //    confirmButtonText: 'Cool'
    //})
</script>


