@model PublicSite.ViewModels.ApartmentReservationViewModel
@{
    ViewBag.Title = "ApartmentInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-apartment-container">
    <div class="main-container">
        <div class="apartment-all-details">
            <h3>@Model.Apartment.Name</h3>
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" width="250" height="250" />
                <ul>
                    <li>@Model.Apartment.CityName</li>
                    <li>@Model.Apartment.BeachDistance M @PublicSite.Resource.BeachDistance</li>
                    <li>@Model.Apartment.RoomCount @PublicSite.Resource.Rooms</li>
                    <li>@Model.Apartment.MaxAdults @PublicSite.Resource.MaxAdults</li>
                    <li>@Model.Apartment.MaxChildren @PublicSite.Resource.MaxChildren</li>
                    <li>@PublicSite.Resource.Owner @Model.Apartment.OwnerName</li>
                </ul>
            </div>
            <p>@PublicSite.Resource.Price @Model.Apartment.Price €</p>
        </div>

        <div class="apartment-tags">
            <h2>Tags</h2>
            <ul>
                @foreach (var tag in Model.ApartmentTags)
                {
                    if (System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "hr-HR")
                    {
                        <li>@tag.Name</li>
                    }
                    else
                    {
                        <li>@tag.NameEng</li>
                    }

                }
            </ul>
        </div>
    </div>
    <div style="width: 30%">
        @Html.Partial("_ReservationForm", Model.Reservation)
    </div>    
    @if (Session["user"] != null)
    {
        @Html.Partial("_ApartmentReview", Model)
    }
    else
    {
        <h3>@PublicSite.Resource.ApartReviewTextLogin</h3>
    }
</div>
