@model PublicSite.ViewModels.ApartmentViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>

@if (Session["user"] != null)
{
    <p>@(((DataAccessLayer.Model.AspNetUser)Session["user"]).UserName)</p>
}
<div class="sort-filter-container">
    <form id="myForm">
        <div class="single-item">
            <label>@PublicSite.Resource.Rooms</label>
            <input type="number" id="roomsNumberField" value="@Model?.ApartmentFilter.RoomCount"/>
        </div>
        <div class="single-item">
            <label>@PublicSite.Resource.Adults</label>
            <input type="number" id="adultsNumberField" value="@Model?.ApartmentFilter.MaxAdults"/>
        </div>
        <div class="single-item">
            <label>@PublicSite.Resource.Children</label>
            <input type="number" id="childrenNumberField" value="@Model?.ApartmentFilter.MaxChildren"/>
        </div>
        <div class="single-item-special">
            <div class="single-item">
                <label>@PublicSite.Resource.Destination</label>
                <select id="cities">
                    @foreach (var item in Model.Cities)
                    {
                        @*if (Model?.ApartmentFilter.CityName == item.Name)
            {
                <option value="@item.Id" selected="selected">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>

            }*@
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <button>Go</button>
            </div>
            <div>
                <label>@PublicSite.Resource.SortBy</label>
                <select id="sortingType">
                    <option value="Id" selected>Id</option>
                    <option value="Price">Price</option>
                </select>             
            </div>
        </div>
    </form>    
</div>

<div class="apartments-list" id="apartments-list">
    @Html.Partial("_AllApartments", Model)
</div>

<script>
    $("#myForm").submit(function (e) {
        e.preventDefault();
        e.stopPropagation();

        var container = $("#apartments-list");

        var obj = {
            RoomCount: $("#roomsNumberField").val(),
            MaxAdults: $("#adultsNumberField").val(),
            MaxChildren: $("#childrenNumberField").val(),
            CityName: $("#cities").find(":selected").text(),
            SortType: $("#sortingType").find(":selected").text()
        }

        $.ajax({
            type: "POST",
            url: "/Home/GetFilteredApartments",
            data: obj,
            success: function (data) {                
                container.empty();
                container.append(data);
            },
            error: function (err) {
                console.error(err);
            }
        })
    })
</script>